package {{.apiPackageName}}

import (
	"net/http"

	"{{.modelFQPN}}"
    "{{.daoFQPN}}"

	"github.com/gin-gonic/gin"
	"github.com/julienschmidt/httprouter"
)

func config{{pluralize .StructName}}Router(router *httprouter.Router) {
	router.GET("/{{pluralize .StructName | toLower}}", GetAll{{pluralize .StructName}})
	router.POST("/{{pluralize .StructName | toLower}}", Add{{.StructName}})
	router.GET("/{{pluralize .StructName | toLower}}/:id", Get{{.StructName}})
	router.PUT("/{{pluralize .StructName | toLower}}/:id", Update{{.StructName}})
	router.DELETE("/{{pluralize .StructName | toLower}}/:id", Delete{{.StructName}})
}

func configGin{{pluralize .StructName}}Router(router gin.IRoutes) {
	router.GET("/{{pluralize .StructName | toLower}}", ConverHttprouterToGin(GetAll{{pluralize .StructName}}))
	router.POST("/{{pluralize .StructName | toLower}}", ConverHttprouterToGin(Add{{.StructName}}))
	router.GET("/{{pluralize .StructName | toLower}}/:id", ConverHttprouterToGin(Get{{.StructName}}))
	router.PUT("/{{pluralize .StructName | toLower}}/:id", ConverHttprouterToGin(Update{{.StructName}}))
	router.DELETE("/{{pluralize .StructName | toLower}}/:id", ConverHttprouterToGin(Delete{{.StructName}}))
}

// GetAll{{.StructName}} is a function to get a slice of record(s) from {{.TableName}} table in the {{.DatabaseName}} database
// @Summary Get list of {{.StructName}}
// @Tags {{.StructName}}
// @Description GetAll{{.StructName}} is a handler to get a slice of record(s) from {{.TableName}} table in the {{.DatabaseName}} database
// @Accept  json
// @Produce  json
// @Param   page     query    int     false        "page requested (defaults to 0)"
// @Param   pagesize query    int     false        "number of records in a page  (defaults to 20)"
// @Param   order    query    string  false        "db sort order column"
// @Success 200 {object} {{.apiPackageName}}.PagedResults{data=[]{{.modelPackageName}}.{{.StructName}}}
// @Failure 400 {object} {{.apiPackageName}}.HTTPError
// @Failure 404 {object} {{.apiPackageName}}.HTTPError
// @Router /{{pluralize .StructName | toLower}} [get]
// http http://{{$.serverHost}}:{{$.serverPort}}/{{pluralize .StructName | toLower}}?page=0&pagesize=20
func GetAll{{pluralize .StructName}}(w http.ResponseWriter, r *http.Request, ps httprouter.Params) {
    page, err := readInt(r, "page", 0)
	if err != nil || page < 0 {
		returnError(w, r, {{.daoPackageName}}.BadParamsError)
		return
	}

	pagesize, err := readInt(r, "pagesize", 20)
	if err != nil || pagesize <= 0 {
		returnError(w, r, {{.daoPackageName}}.BadParamsError)
		return
	}

	order := r.FormValue("order")

    records, totalRows, err :=  {{.daoPackageName}}.GetAll{{pluralize .StructName}}(r.Context(), page, pagesize, order)
	if err != nil {
	    returnError(w, r, err)
		return
	}

	result := &PagedResults{Page: page, PageSize: pagesize, Data: records, TotalRecords: totalRows}
	writeJSON(w, result)
}


// Get{{.StructName}} is a function to get a single record to {{.TableName}} table in the {{.DatabaseName}} database
// @Summary Get record from table {{.StructName}} by id
// @Tags {{.StructName}}
// @ID record id
// @Description Get{{.StructName}} is a function to get a single record to {{.TableName}} table in the {{.DatabaseName}} database
// @Accept  json
// @Produce  json
// @Param  id path int true "record id"
// @Success 200 {object} {{.modelPackageName}}.{{.StructName}}
// @Failure 400 {object} {{.apiPackageName}}.HTTPError
// @Failure 404 {object} {{.apiPackageName}}.HTTPError "NotFound, db record for id not found - returns NotFound HTTP 404 not found error"
// @Router /{{pluralize .StructName | toLower}}/{id} [get]
// http http://{{$.serverHost}}:{{$.serverPort}}/{{pluralize .StructName | toLower}}/1
func Get{{.StructName}}(w http.ResponseWriter, r *http.Request, ps httprouter.Params) {

	id, err := {{.TableInfo.PrimaryKeyFieldParser}}(ps, "id")
	if err != nil {
		returnError(w, r, err)
		return
	}

	record, err := {{.daoPackageName}}.Get{{.StructName}}(r.Context(), id)
	if err != nil {
		returnError(w, r, err)
		return
	}

	writeJSON(w, record)
}



// Add{{.StructName}} add to add a single record to {{.TableName}} table in the {{.DatabaseName}} database
// @Summary Add an record to {{.TableName}} table
// @Description add to add a single record to {{.TableName}} table in the {{.DatabaseName}} database
// @Tags {{.StructName}}
// @Accept  json
// @Produce  json
// @Param {{.StructName}} body {{.modelPackageName}}.{{.StructName}} true "Add {{.StructName}}"
// @Success 200 {object} {{.modelPackageName}}.{{.StructName}}
// @Failure 400 {object} {{.apiPackageName}}.HTTPError
// @Failure 404 {object} {{.apiPackageName}}.HTTPError
// @Router /{{pluralize .StructName | toLower}} [post]
// echo '{{ToJson .TableInfo.Instance 0}}' | http POST http://{{$.serverHost}}:{{$.serverPort}}/{{pluralize .StructName | toLower}}
func Add{{.StructName}}(w http.ResponseWriter, r *http.Request, ps httprouter.Params) {
	{{.StructName | toLower}} := &{{.modelPackageName}}.{{.StructName}}{}

	if err := readJSON(r, {{.StructName | toLower}}); err != nil {
		returnError(w, r, {{.daoPackageName}}.BadParamsError)
		return
	}


   if err := {{.StructName | toLower}}.BeforeSave(); err != nil {
      returnError(w, r, dao.BadParamsError)
   }

   {{.StructName | toLower}}.Prepare()

   if err := {{.StructName | toLower}}.Validate(model.Create); err != nil {
      returnError(w, r, dao.BadParamsError)
      return
   }

    var err error
	{{.StructName | toLower}}, _, err = {{.daoPackageName}}.Add{{.StructName}}(r.Context(), {{.StructName | toLower}})
	if err != nil {
		returnError(w, r, err)
		return
	}

	writeJSON(w, {{.StructName | toLower}})
}


// Update{{.StructName}} Update a single record from {{.TableName}} table in the {{.DatabaseName}} database
// @Summary Update an record in table {{.TableName}}
// @Description Update a single record from {{.TableName}} table in the {{.DatabaseName}} database
// @Tags {{.StructName}}
// @Accept  json
// @Produce  json
// @Param  id path int true "Account ID"
// @Param  {{.StructName}} body {{.modelPackageName}}.{{.StructName}} true "Update {{.StructName}} record"
// @Success 200 {object} {{.modelPackageName}}.{{.StructName}}
// @Failure 400 {object} {{.apiPackageName}}.HTTPError
// @Failure 404 {object} {{.apiPackageName}}.HTTPError
// @Router /{{pluralize .StructName | toLower}}/{id} [patch]
// echo '{{ToJson .TableInfo.Instance 0}}' | http PATCH http://{{$.serverHost}}:{{$.serverPort}}/{{pluralize .StructName | toLower}}/1
func Update{{.StructName}}(w http.ResponseWriter, r *http.Request, ps httprouter.Params) {
	id, err := {{.TableInfo.PrimaryKeyFieldParser}}(ps, "id")
	if err != nil {
		returnError(w, r, err)
		return
	}


	{{.StructName | toLower}} := &{{.modelPackageName}}.{{.StructName}}{}
	if err := readJSON(r, {{.StructName | toLower}}); err != nil {
		returnError(w, r, {{.daoPackageName}}.BadParamsError)
		return
	}

   if err := {{.StructName | toLower}}.BeforeSave(); err != nil {
      returnError(w, r, dao.BadParamsError)
   }

   {{.StructName | toLower}}.Prepare()

   if err := {{.StructName | toLower}}.Validate(model.Update); err != nil {
      returnError(w, r, dao.BadParamsError)
      return
   }

	{{.StructName | toLower}}, _, err = {{.daoPackageName}}.Update{{.StructName}}(r.Context(), id, {{.StructName | toLower}})
	if err != nil {
	    returnError(w, r, err)
   	    return
	}

	writeJSON(w, {{.StructName | toLower}})
}



// Delete{{.StructName}} Delete a single record from {{.TableName}} table in the {{.DatabaseName}} database
// @Summary Delete a record from {{.TableName}}
// @Description Delete a single record from {{.TableName}} table in the {{.DatabaseName}} database
// @Tags {{.StructName}}
// @Accept  json
// @Produce  json
// @Param  id path int true "ID" Format(int64)
// @Success 204 {object} {{.modelPackageName}}.{{.StructName}}
// @Failure 400 {object} {{.apiPackageName}}.HTTPError
// @Failure 500 {object} {{.apiPackageName}}.HTTPError
// @Router /{{pluralize .StructName | toLower}}/{id} [delete]
// http DELETE http://{{$.serverHost}}:{{$.serverPort}}/{{pluralize .StructName | toLower}}/1
func Delete{{.StructName}}(w http.ResponseWriter, r *http.Request, ps httprouter.Params) {
	id, err := {{.TableInfo.PrimaryKeyFieldParser}}(ps, "id")
	if err != nil {
		returnError(w, r, err)
		return
	}

	rowsAffected, err := {{.daoPackageName}}.Delete{{.StructName}}(r.Context(), id)
	if err != nil {
	    returnError(w, r, err)
	    return
	}

	writeRowsAffected(w, rowsAffected )
}



/*
{{ range $key, $value := . }}
   {{ printf "%#-20v" $key }}   {{ printf "[%T] %+v" $value $value }}{{ end }}

*/
