package {{.daoPackageName}}

import (
    "context"
    "time"

	"{{.modelFQPN}}"

    "github.com/guregu/null"

	"github.com/smallnest/gen/dbmeta"
)

var (
    _ = time.Second
    _ = null.Bool{}
)


// GetAll{{pluralize .StructName}} is a function to get a slice of record(s) from {{.TableName}} table in the {{.DatabaseName}} database
// params - page     - page requested (defaults to 0)
// params - pagesize - number of records in a page  (defaults to 20)
// params - order    - db sort order column
// error - ErrNotFound, db Find error
func GetAll{{pluralize .StructName}}(ctx context.Context, page, pagesize int64, order string) ({{pluralize .StructName | toLower}} []*{{.modelPackageName}}.{{.StructName}}, totalRows int, err error) {

	{{pluralize .StructName | toLower}} = []*{{.modelPackageName}}.{{.StructName}}{}

	{{pluralize .StructName | toLower}}Orm := DB.Model(&{{.modelPackageName}}.{{.StructName}}{})
    {{pluralize .StructName | toLower}}Orm.Count(&totalRows)

	if page > 0 {
		offset := (page - 1) * pagesize
		{{pluralize .StructName | toLower}}Orm = {{pluralize .StructName | toLower}}Orm.Offset(offset).Limit(pagesize)
	} else {
		{{pluralize .StructName | toLower}}Orm = {{pluralize .StructName | toLower}}Orm.Limit(pagesize)
    }

	if order != "" {
		{{pluralize .StructName | toLower}}Orm = {{pluralize .StructName | toLower}}Orm.Order(order)
	}

	if err = {{pluralize .StructName | toLower}}Orm.Find(&{{pluralize .StructName | toLower}}).Error; err != nil {
	    err = ErrNotFound
		return nil, -1, err
	}

	return {{pluralize .StructName | toLower}}, totalRows, nil
}

// Get{{.StructName}} is a function to get a single record to {{.TableName}} table in the {{.DatabaseName}} database
// error - ErrNotFound, db Find error
func Get{{.StructName}}(ctx context.Context,{{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}} {{$field.GoFieldType}},{{end}}{{end -}}) (record {{.modelPackageName}}.{{.StructName}}, err error) {
	if err = DB.First(&record, {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}},{{end}}{{end -}}).Error; err != nil {
	    err = ErrNotFound
		return record, err
	}

	return record, nil
}

// Add{{.StructName}} is a function to add a single record to {{.TableName}} table in the {{.DatabaseName}} database
// error - ErrInsertFailed, db save call failed
func Add{{.StructName}}(ctx context.Context, record *{{.modelPackageName}}.{{.StructName}}) (result *{{.modelPackageName}}.{{.StructName}}, RowsAffected int64, err error) {
    db := DB.Save(record)
	if err = db.Error; err != nil {
	    return nil, -1, ErrInsertFailed
	}

	return record, db.RowsAffected, nil
}

// Update{{.StructName}} is a function to update a single record from {{.TableName}} table in the {{.DatabaseName}} database
// error - ErrNotFound, db record for id not found
// error - ErrUpdateFailed, db meta data copy failed or db.Save call failed
func Update{{.StructName}}(ctx context.Context, {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}} {{$field.GoFieldType}},{{end}}{{end -}}updated *{{.modelPackageName}}.{{.StructName}}) (result *{{.modelPackageName}}.{{.StructName}}, RowsAffected int64, err error) {

   result = &{{.modelPackageName}}.{{.StructName}}{}
   db := DB.First(result,{{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}},{{end}}{{end -}})
   if err = db.Error; err != nil {
      return nil, -1, ErrNotFound
   }

   if err = dbmeta.Copy(result, updated); err != nil {
      return nil, -1, ErrUpdateFailed
   }

   db = db.Save(result)
   if err = db.Error; err != nil  {
      return nil, -1, ErrUpdateFailed
   }

   return result, db.RowsAffected, nil
}

// Delete{{.StructName}} is a function to delete a single record from {{.TableName}} table in the {{.DatabaseName}} database
// error - ErrNotFound, db Find error
// error - ErrDeleteFailed, db Delete failed error
func Delete{{.StructName}}(ctx context.Context,{{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}} {{$field.GoFieldType}},{{end}}{{end -}}) (rowsAffected int64, err error) {

    record := &{{.modelPackageName}}.{{.StructName}}{}
    db := DB.First(record, {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName -}},{{end}}{{end}})
    if db.Error != nil {
        return -1, ErrNotFound
    }

    db = db.Delete(record)
    if err = db.Error; err != nil {
        return -1, ErrDeleteFailed
    }

   return db.RowsAffected, nil
}

