{{define "getall"}}
// GetAll{{.StructName}} is a function to get a slice of record(s) from {{.TableName}} table in the {{.DatabaseName}} database
// params - page     - page requested (defaults to 0)
// params - pagesize - number of records in a page  (defaults to 20)
// params - order    - db sort order column
// error - ErrNotFound, db Find error
func GetAll{{.StructName}}(ctx context.Context, page, pagesize int64, order string) ({{.StructName | toLower}} []*{{.modelPackageName}}.{{.StructName}}, totalRows int, err error) {

	{{.StructName | toLower}} = []*{{.modelPackageName}}.{{.StructName}}{}

	{{.StructName | toLower}}Orm := DB.Model(&{{.modelPackageName}}.{{.StructName}}{})
    {{.StructName | toLower}}Orm.Count(&totalRows)

	if page > 0 {
		offset := (page - 1) * pagesize
		{{.StructName | toLower}}Orm = {{.StructName | toLower}}Orm.Offset(offset).Limit(pagesize)
	} else {
		{{.StructName | toLower}}Orm = {{.StructName | toLower}}Orm.Limit(pagesize)
    }

	if order != "" {
		{{.StructName | toLower}}Orm = {{.StructName | toLower}}Orm.Order(order)
	}

	if err = {{.StructName | toLower}}Orm.Find(&{{.StructName | toLower}}).Error; err != nil {
	    err = ErrNotFound
		return nil, -1, err
	}

	return {{.StructName | toLower}}, totalRows, nil
}
{{end}}
