{{define "dao_sqlx_update.go.tmpl"}}
// Update{{.StructName}} is a function to update a single record from {{.TableName}} table in the {{.DatabaseName}} database
// error - ErrNotFound, db record for id not found
// error - ErrUpdateFailed, db meta data copy failed or db.Save call failed
func Update{{.StructName}}(ctx context.Context, {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}} {{$field.GoFieldType}},{{end}}{{end -}}updated *{{.modelPackageName}}.{{.StructName}}) (result *{{.modelPackageName}}.{{.StructName}}, RowsAffected int64, err error) {
	sql := "{{.updateSql}}"
	sql = DB.Rebind(sql)

	if Logger != nil {
		Logger(ctx, sql)
	}

	dbResult, err := DB.ExecContext(ctx, sql, {{range $field := .TableInfo.CodeFields}} {{ if not $field.PrimaryKeyArgName }} updated.{{$field.GoFieldName}},{{end}}{{end -}} {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}},{{end}}{{end -}})
	if err != nil {
		return nil, 0, err
	}

	rows, err := dbResult.RowsAffected()
    {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} updated.{{$field.GoFieldName}} = {{$field.PrimaryKeyArgName}}{{print "\n"}}{{end}}{{end}}
	return updated, rows, err
}
{{end}}
