module {{.module}}

go 1.13

require (
	github.com/gin-gonic/gin v1.6.2
	github.com/go-openapi/spec v0.19.7 // indirect
	github.com/go-openapi/swag v0.19.9 // indirect
	github.com/go-sql-driver/mysql v1.4.1
	github.com/golang/protobuf v1.4.0 // indirect
	github.com/guregu/null v3.4.0+incompatible
	github.com/jinzhu/gorm v1.9.12
	github.com/julienschmidt/httprouter v1.3.0
	github.com/mailru/easyjson v0.7.1 // indirect
	github.com/pkg/errors v0.9.1 // indirect
	github.com/smallnest/gen v0.0.0-20200328080301-4647d80f2572
	github.com/swaggo/swag v1.6.5 // indirect
	golang.org/x/net v0.0.0-20200421231249-e086a090c8fd // indirect
	golang.org/x/sys v0.0.0-20200420163511-1957bb5e6d1f // indirect
	golang.org/x/tools v0.0.0-20200424195722-358506031216 // indirect
)


