package {{.modelPackageName}}

type Action int32

var (
	Create   = Action(0)
	Retrieve = Action(1)
	Update   = Action(2)
	Delete   = Action(3)
)


type Model interface {
    TableName() string
    BeforeSave() error
    Prepare()
    Validate(action Action) error
}
