package {{.modelPackageName}}

import (
    "database/sql"
    "time"

    "github.com/guregu/null"
)

var (
    _ = time.Second
    _ = sql.LevelDefault
    _ = null.Bool{}
)

/*
DB Table Details
-------------------------------------
{{ $ddl := .TableInfo.DBMeta.DDL }}
{{if $ddl }}
{{$ddl}}
{{- end}}

JSON Sample
-------------------------------------
{{ToJson .TableInfo.Instance 4}}
*/



// {{.StructName}} struct is a row record of the {{.TableName}} table in the {{.DatabaseName}} database
type {{.StructName}} struct {
    {{range .TableInfo.Fields}}{{.}}
    {{end}}
}

// TableName sets the insert table name for this struct type
func ({{.ShortStructName}} *{{.StructName}}) TableName() string {
	return "{{.TableName}}"
}




func ({{.ShortStructName}} *{{.StructName}}) BeforeSave() error {
	return nil
}

func ({{.ShortStructName}} *{{.StructName}}) Prepare() {
}

func ({{.ShortStructName}} *{{.StructName}}) Validate(action Action) error {

    return nil
}
